# path:   /home/klassiker/.local/share/repos/sent/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/sent
# date:   2021-01-15T13:56:21+0100

/config.h
/drw.o
/sent
/sent.o
/util.o
