# path:       /home/klassiker/.local/share/repos/sent/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/sent
# date:       2020-08-31T17:51:05+0200

config.h
drw.o
sent
sent.o
util.o
