# path:       /home/klassiker/.local/share/repos/sent/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/sent
# date:       2020-11-13T14:39:12+0100

/config.h
/drw.o
/sent
/sent.o
/util.o
